<h2>Postagens recentes</h2>
{{#each post}}
    <div class="flex card my-4">
        <div class="card-body">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <hr>
            <small>Categoria: {{category.name}}</small><br>
            <small>Data de publicação: {{date}}</small>
        </div>
    </div>
{{else}}

{{/each}}